.mainblock {
  color: white;
  font-family: Helvetica, Verdana;
  font-weight: bold;
  font-size: 1em;
  background: black;
  width: 100%;
  padding: 0px 0px;
  text-align: center;
}

.mainblock table {
  color: white;
  font-family: Helvetica, Verdana;
  font-weight: bold;
  font-size: 1em;
  background: black;
  width: 70%;
  padding: 0px 0px;
  text-align: center;  
}

html,body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
  text-align: center;
}
body {
	color:#333;
	/* font-family:"Lucida Grande","Lucida Sans Unicode","DejaVu Sans",Lucida,Helvetica,sans-serif; */
  font-family: Helvetica, Verdana;
  font-weight: bold;
  font-size: 0.7em;
  background-color: black;
}
h1 {
	color:#333;
	font-size:20px;
	font-size:1.25rem;
}
a {
	color:#0095dd;
	text-decoration:none;
}
a:hover, a:focus {
	color:#2255aa;
	text-decoration:underline;
}
figure {
	max-width:1024px;
	max-width:64rem;
	width:100%;
	height:auto;
	margin:20px 0 0;
	margin:1.25rem 0 0;
}
figcaption {
	display:block;
	font-size:16px;
	font-size:1rem;
}
video {
	width:100%;
	height:auto;
}

/* controls */
.controls, .controls li {
	padding:0;
	margin:0;
}
.controls {
	display:none;
	list-style-type:none;
	overflow:hidden;
	background:transparent;
}
.controls li {
	float:left;
	width:8%;
	margin-left:0.3%;
}
.controls li:first-child {
	margin-left:0;
}
.controls .progress {
	width:38%;
	cursor:pointer;
}
.controls button {
	width:100%;
	text-align:center;
	overflow:hidden;
	white-space:nowrap;
  	text-overflow:ellipsis;

    font-family: Helvetica, Verdana;
    font-weight: bold;
    font-size: 8pt;
}

.controls button[data-state="subtitles"] {
    text-indent:0;
    font-size:8pt;
    font-weight:bold;
    color:#666;
    background:#000;
    border-radius:2px;

    font-family: Helvetica, Verdana;
    font-weight: bold;
    font-size: 8pt;
}

.controls progress {
	display:block;
	width:100%;
	height:20px;
	height:1.25rem;
	margin-top:2px;
	margin-top:0.125rem;
	border:1px solid #aaa;
	overflow:hidden;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
}
.controls progress span {
	width:0%;
	height:100%;
	display:inline-block;
	background-color:#2a84cd;
}

/* -------------------------------------------------------------------- */
/*  Subtitle menu CSS
    We also added some rudimentary styling for the newly created subtitles menu: */

.subtitles-menu {
    display:none;
    position:absolute;
    bottom:14.8%;
    right:20px;
    background:#666;
    list-style-type:none;
    margin:0;
    padding:0;
    width:100px;
    padding:10px;
}

.subtitles-menu li {
    padding:0;
    text-align:center;
}

.subtitles-menu li button {
    border:none;
    background:#000;
    color:#fff;
    cursor:pointer;
    width:90%;
    padding:2px 5px;
    border-radius:2px;
}

::cue {
   color:#ccc;
}
/* -------------------------------------------------------------------- */

/* fullscreen */
html:-ms-fullscreen {
	width:100%;
}
:-webkit-full-screen {
	background-color:transparent;
}
/* hide controls on fullscreen with WebKit */
figure[data-fullscreen=true] video::-webkit-media-controls {
	display:none !important;
}
figure[data-fullscreen=true] {
	max-width:100%;
	width:100%;
	margin:0;
	padding:0;
}
figure[data-fullscreen=true] video {
	height:auto;
}
figure[data-fullscreen=true] figcaption {
	display:none;
}
figure[data-fullscreen=true] .controls {
	position:absolute;
	bottom:2%;
	width:100%;
	z-index:2147483647;
}
figure[data-fullscreen=true] .controls li {
	width:5%;
}
figure[data-fullscreen=true] .controls .progress {
	width:68%;
}
